In [1]:
# Initial Imports
import pandas as pd
import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

# Import S&P 500 stock ticker list
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df_stocks = table[0]
df_stocks.head()
df_stocks.to_csv('S&P500-Info.csv')
df_stocks.to_csv('S&P500-Symbols.csv', columns=['Symbol'])
df_tickers = df_stocks['Symbol']
df_tickers.head()

0     MMM
1     AOS
2     ABT
3    ABBV
4     ACN
Name: Symbol, dtype: object

In [2]:
load_dotenv()

True

In [7]:
# Import historical price performance for S&P 500 stocks over the last 7 years
timeframe = '1Day'
start_date = pd.Timestamp('2016-06-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2023-04-30', tz='America/New_York').isoformat()

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

alpaca = tradeapi.REST(
   alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

tickers = df_stocks['Symbol'][:100].tolist()

df_sp500_hist = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

In [8]:
df_sp500_hist.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2016-06-01 04:00:00+00:00,31.94,32.26,31.7300,31.95,6416243,42250,31.952436,AAL
2016-06-02 04:00:00+00:00,31.67,32.07,31.5799,31.67,6813295,40265,31.803351,AAL
2016-06-03 04:00:00+00:00,31.59,31.60,30.3700,30.81,12424133,67650,30.729925,AAL
2016-06-06 04:00:00+00:00,30.77,31.30,30.3800,31.26,8335439,53642,30.976306,AAL
2016-06-07 04:00:00+00:00,31.46,32.87,31.1000,32.36,12424206,72297,32.405641,AAL

In [ ]:
# test test tes